@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
   font-family : "Roboto"; 
  
}
.flex{
    display : flex ;
   
    justify-content: space-between;
    
}
.flex1{
    display : flex ;
    width : 20vh;
   
    justify-content: space-between;
    align-items: center;
}
.body{
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    width : 100vw;
    height : 80vh;
    background-size: cover;
    color : white;
    text-align: center;
   
}
.text{
   padding-top : 180px;
}  

.bar {
    background-color:#1976d2 ;
    height : 3px;
    width : 150px;
    
    margin-left:  200px;
    
}
.body2{
    background-color: #d1e5f9 ;
    height : 80vh;
    width : 100vw;
    text-align : center;
    color : black;
    padding-top: 10px;
}
.img {
   height : 100px; 
   width : 100px;
   border-radius : 50px;
}
.imgbody{
    display : flex;
    justify-content: center;
    
}
.footer {
    background-color: black;
    height : 30vh;
    width : 100vw;
    color : white;
    padding-top : 20px;
    padding-left : 20px;
}
.f {
   display : flex;
 justify-content: space-between;
}