@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.container1 {
    background-color: black;
    height: 13vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.nxtera {
    height: 60px;
    margin-left: 150px;
    margin-top: 25px;
}

.paranxt {
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: "Bree Serif";
}

.a {
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 260px;
    padding-right: 1px;
    font-family: "Bree Serif";
}

.b {
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Bree Serif";
}

.c {
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Bree Serif";
}

.image1 {
    background-image: url("https://img.b2bpic.net/premium-photo/cropped-hand-man-using-mobile-phone_1048944-307909.jpg") !important;
    background-size: cover;
    height: 90vh;
    margin-top: 0;
}

.ex {
    color: white;
    font-size: 50px;
    font-family: "Bree Serif";
    padding-top: 350px;
    padding-left: 260px;
}

.dis {
    color: white;
    font-size: 20px;
    padding-left: 260px;
    padding-top: 0px;
    font-family: "Bree Serif";
}

.contact {
    background-color: #6C63FF;
    font-family: "Bree Serif";
    border-width: 0px;
    margin-left: 260px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.our {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.we {
    text-align: center;
    color: #0A1525;
    font-family: "Bree Serif";
}

.image2 {
    height: 200px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 0;
    border-radius: 20px;
    border-width: 10px;
    border-color: black;
}

.cloud {
    margin-left: 30px;
    font-family: "Bree Serif";
}

.our1 {
    margin-left: 30px;
    font-family: "Bree Serif";
}

.image3 {
    display: flex;
    justify-content: space-evenly;
}

.us {
    text-align: center;
    color: black;
    padding-top: 40px;
}

.div {
    background-color: #dfe3eb;
    height: 55vh;
}

.got {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 0;
}

.star {
    color: red;
}

.name {
    padding-left: 240px;
    padding-top: 20px;
}

.box {
    border-style: solid;
    background-color: white;
    height: 20px;
    border-color: #1E293B;
    border-width: 1px;
    margin-left: 240px;
    margin-right: 240px;
}

.Emailaddress {
    margin-left: 240px;
}

.box1 {
    border-style: solid;
    background-color: white;
    height: 20px;
    border-color: #1E293B;
    border-width: 1px;
    margin-top: 15px;
    margin-left: 240px;
    margin-right: 5px;
    width: 250px;
}

.phonenumber {
    padding-left: 230px;
}

.order {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: row;
}

.box2 {
    border-style: solid;
    background-color: white;
    height: 20px;
    border-color: #1E293B;
    border-width: 1px;
    margin-top: 15px;
    margin-left: 73px;
    margin-right: 5px;
    width: 250px;
}

.box3 {
    border-style: solid;
    background-color: white;
    height: 100px;
    border-color: #1E293B;
    border-width: 1px;
    margin-top: 15px;
    margin-left: 240px;
    margin-right: 5px;
    width: 700px;
}
.arr {
    display: flex !important;
    flex-direction: column !important;
}
.footer {
    background-color: #1E293B;
    height: 40vh;
    margin-top: 50px;
    display: flex;
}

.lets {
    background-color: #6C63FF;
    margin-left: 240px;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 50px;
    width: 700px;
    color: white;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;

}



.nxtera1 {
    height: 50px;
    width: 50px;
    margin-left: 150px;
    margin-top: 70px;
}
.in{
    margin-left:150px ;
    color:grey;
    font-size: 12px;
}
.bar{
    margin-left:150px ;
    color:white;
}
.contact1{
    color:white;
    font-size:15px;
    margin-top: 70px;
    margin-left: 70px;
}
.hy{
    color:grey;
     margin-left: 70px;
}
.sight{
    text-decoration: underline;
}
.n{
    background-color:#1E293B ;
    color:white;
    margin-top:0px;
}