@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header{
    display: flex;
    font-family: "Roboto";
    padding-left: 5px;
    z-index: 1;
    background-color: #f9f9f9;
    color: #1b262c;
}
.head{
    font-size: 24px;
}
.fa{
   align-self: center; 
}
.hm{
    margin:  auto;
}
.exp{
    display: none;
    margin-bottom: 0px;
}
.head1{
    padding-right:20px ;
}
.h{
    text-decoration: underline;
}
@media screen and (min-width:768px){
    .exp{
        display: flex;
    }
    .fa{
        display: none;
    }
    .head{
        font-size:27px;
    }
    .hm{
        margin: 0px;
    }
    .header{
        justify-content: space-between;
    }
}
.con{
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    height: 50vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 0;
}
.head2{
    font-size: 60px;
    text-align: center;
}
.para{
    font-size: 26px;
}
.bor{
    border-width: 5px;
    border-style: solid;
    border-color: #1976d2;
    width: 15%;
}
@media screen and (min-width:768px){
    .head2{
        font-size: 70px;
    }
    .para{
        font-size: 28px;
    }
}
.bor1{
    border-width: 3px;
    border-style: solid;
    border-color: #1976d2;
    width: 10%;
}
.serv{
    background-color: #d1e5f9;
    color: #1b262c;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
    color: #1b262c;
}
.head3{
    font-size:29px;
}
.cards{
    grid-template-columns: 1;
    display: grid;
    text-align: center;
    color: #1b262c;
}
.c{
    justify-content: center;
    padding: 10px;
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 70px;
}
@media screen and (min-width:768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .k{
        grid-column: 1/3;
    }
    .head3{
        font-size:27px;
    }
    .b{
        grid-column: 3/5;
    }
    .a{
        align-self: center;
        grid-column:2/4;
    }
}
.foot{
    background-color: #1b262c;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m{
    display: flex;
    font-size:15px;
}
.head4{
    padding-right: 10px;
    font-size: 14px;
}
span{
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
@media (min-width:768px){
    
}