@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
*{
    margin:0px;
    font-family: "Bree Serif";
}
@media all and (max-width:769px){
.navbar{
    background-color:#0A1525;
    display:flex;
    
}
.fa{
    color:#FFFFFF;
}
.navbar-logo{
    height:50px;
    padding:20px;
}
.navbar-heading{
    margin-top:30px;
    color:#FFFFFF;
}
.first-section{
    background-image:url("https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg");
    height:100vh;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:20px;
    
}
.first-section-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:350px;
}
.heading1{
    color:#FFFFFF;
    font-size:40px;
}
.para1{
    color:#FFFFFF;
    font-size: 20px;
    
}
.contact-btn{
    background-color:#8B5CF6;
    width:100px;
    height:35px;
    border-radius:5px;
    border-width:0px;
    color:#FFFFFF;
    font-weight:bold;
}
.service-section{
    padding:20px;
    text-align: center;
}
.service-section-heading{
    padding:13px;
}
.service-section-para{
    padding:23px;
    font-size: 18px;
    color:#0A1525;
}
.service-image{
    height:250px;
    border-radius:20px;
    
}
.service-card{
    text-align:left;
    margin-top:40px;
    margin-bottom:50px;
}
.service-card-heading{
    margin-top:20px;
    margin-bottom:20px;
    font-size: 20px;
}

.contact-section-heading{
    margin-top:20px;
    padding:13px;
    text-align: center;
}
.contact-section-para{
    padding:23px;
    font-size: 18px;
    color:#0A1525;
}
.contact-section{
    background-color: #dfe3eb;
    display:flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.details-container{
    padding:20px;
}
.box-container{
    background-color: #FFFFFF;
    height:40px;
    border-radius:7px;
}
.details-heading{
    margin-bottom:15px;
}
.box-container-comments{
    background-color: #FFFFFF;
    height:200px;
    border-radius:7px;
}
.btn{
    background-color: #8B5CF6;
    height:40px;
    margin-right:20px;
    margin-left:20px;
    border-radius:5px;
    color:#FFFFFF;
}
.bottom-section{
    background-color:#1E293B ;
    height:100vh;
    padding:20px;
}
.bottom-img{
    
}
.bottom-section-heading{
    font-size:15px;
    color:#FFFFFF;
}
.icon-color{
    color: #FFFFFF;
    font-size: 35px;
    margin-right:8px;
}
.container-for-aligning{
    display:flex;
}
.contact-us{
    margin:10px;
    color:#FFFFFF;
}
.menu{
    
    margin:10px;
    color: #FFFFFF;
}
.footer{
    color:#FFFFFF;
    font-size:10px;
}

}
@media all and (min-width:769px){
    .navbar{
    background-color:#0A1525;
    display:flex;
    
}
.fa{
    color:#FFFFFF;
}
.navbar-logo{
    height:50px;
    padding:20px;
}
.navbar-heading{
    margin-top:30px;
    color:#FFFFFF;
}
.first-section{
    background-image:url("https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg");
    height:100vh;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:20px;
    
}
.first-section-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:350px;
}
.heading1{
    color:#FFFFFF;
    font-size:40px;
}
.para1{
    color:#FFFFFF;
    font-size: 20px;
    
}
.contact-btn{
    background-color:#8B5CF6;
    width:100px;
    height:35px;
    border-radius:5px;
    border-width:0px;
    color:#FFFFFF;
    font-weight:bold;
}
.service-section{
    padding:20px;
    text-align: center;
    
}
.service-cards-container{
    display:flex;
   
}
.service-section-heading{
    padding:13px;
}
.service-section-para{
    padding:23px;
    font-size: 18px;
    color:#0A1525;
}
.service-image{
    height:250px;
    border-radius:20px;
    
}
.service-card{
    text-align:left;
    margin-top:40px;
    margin-bottom:50px;
    margin-right:10px;
}
.service-card-heading{
    margin-top:20px;
    margin-bottom:20px;
    font-size: 20px;
}

.contact-section-heading{
    margin-top:20px;
    padding:13px;
    text-align: center;
}
.contact-section-para{
    padding:23px;
    font-size: 18px;
    color:#0A1525;
}
.contact-section{
    background-color: #dfe3eb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.details-container{
    padding:20px;
}
.box-container{
    background-color: #FFFFFF;
    height:40px;
    border-radius:7px;
}
.details-heading{
    margin-bottom:15px;
}
.box-container-comments{
    background-color: #FFFFFF;
    height:200px;
    border-radius:7px;
}
.btn{
    background-color: #8B5CF6;
    height:40px;
    margin-right:20px;
    margin-left:20px;
    border-radius:5px;
    color:#FFFFFF;
}
.bottom-section{
    background-color:#1E293B ;
    height:100vh;
    padding:20px;
}
.bottom-img{
    
}
.bottom-section-heading{
    font-size:15px;
    color:#FFFFFF;
}
.icon-color{
    color: #FFFFFF;
    font-size: 35px;
    margin-right:8px;
}
.container-for-aligning{
    display:flex;
}
.contact-us{
    margin:10px;
    color:#FFFFFF;
}
.menu{
    
    margin:10px;
    color: #FFFFFF;
}
.footer{
    color:#FFFFFF;
    font-size:10px;
}

}