@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.bg-container {
    background-color: #0A1525;
    background-size: cover;
    height: 10vh;
    width: 100vw;
}

.img {

    height: 8vh;
    width: 15vw;
    text-align: center;
    padding: 8px;
}