@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.icon{
    height: 8vh;
}
.p:hover{
    background-color: #4B9EFF;
    color: white;
    text-decoration: underline;
    border-radius: 16px;
    padding: 10px;
}
details{
    text-decoration: none;
    margin: 50% 0px;
}
.p{
    transition: all 0.4s;
}
.card{
    transition: all 0.6s;
    
}
.card:hover{
    transform: scale(1.1);
}
.n{
 
    display: flex;
    justify-content: space-between;
    background-color: #0A1525;
      padding: 10px 20px;
      margin: 0px;
}
.f{
    background-color: #0A1525;
      padding: 10px 20px;
      margin: 0px;
}
.ic{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.ndp{
    display: none;
}
*{
    font-family: "Bree Serif";
}
.About{
    height:  80vh;
    background-color: red;
    display: flex;
    background-image: url('https://img.b2bpic.net/free-photo/construction-site-silhouettes_1127-3253.jpg');
    background-size: cover;
    color: white;
    background-position: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    justify-content:  center;
}
.btn{
    background-color: #4B9EFF;
    color: white;
    border-radius:6px;
    padding: 10px;
    border: 1px solid #4B9EFF;
}
.Our{
    text-align: center;
}
.pO{
    color: #1E293B;
}
.iO{
    margin: auto;
    display: block;
    width: 90%;
    border-radius: 10%;
}
.fle{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 10%;
}
.contact{
    text-align: center;
}
.input{
    width: 80vw;
    border: 1px solid black;
}
.bi{
    height: 20vh;
}
.inp>.btn{
   width: 90%;
   margin: 20px;
}
.contact{
    padding: 5%;
    background-color: #dfe3eb;
}
.inp{
    background-color: #dfe3eb;
}
.f{
     color: #dfe3eb;
}
.cop{
    color: #dfe3eb;
    background-color:#0A1525 ;
}
.iu{
    margin:10px ;
}
.btn{
    transition: all 0.4s;
}
.btn:hover{
    background-image: linear-gradient(to right,cyan,purple);
}
.add{
    display: flex;
    gap: 20%;
}
@media all and (min-width:768px){
    .fx{
        display: flex;
        gap: 10%;
    }
    .add{
        flex-grow: 2;
        
    }
    .icons{
        flex-basis: 50%;
    }
    .drop{
        display: none;
    }
    .ndp{
        display: flex;
        gap: 20px;
    }
    .iO{
        width:100%;
        height:40% ;
    }
   
    .card{
       /*  display: flex;
       flex-direction: column;
       gap:1%; */
        width: 40%;
        padding: 1%;
       
    }
    
    .flI{
        display: flex;
        gap: 30px;
    }
    .f{
        height: 30vh;
        padding: 10% ;
    }
    .c{
      
        width:40%;
        margin: auto ;
        padding: 10px;
    }
    .input{
        width:90%;
        height: 40px;
    }
    .fle{
        display: flex;
        height: 50vh;
        
        flex-direction: row;
          
    margin:10% 5%;
    }
    .cop{
        margin-top: 20%;
    }
    .contact{
        padding: 10%;
        height: 60vh;
    }
    .as{
        width: 40%;
    }
    .contact{
        display: grid;
        
    }
}