@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.nav_bar {
    background-color: #0A1525;
    height: 16vh;
    width: 120vw;
    display: flex;
    align-self: center;
   align-content: space-around;
    justify-content: space-around;
}
@media(max-width:576){
    .nav_bar{
        font-size:10px;
        
    }
    h1{
        font-size:10px;
    }
}
.items{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}



.image1 {
    height: 10vh;
    align-self: center;
    margin: 20px;
    align-items: flex-end;

}

.wer {
    color: white;
    margin: 10px;
}

.items {
    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.main2 {
    background-image: url("https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg");
    background-size: cover;
    height: 80vh;
    width: 120vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.clr1 {

    font-size: 25px;
    margin-left: 170px;
}

.whiat {
    font-size: 60px;
}

.btnclr {
    background-color: #8B5CF6;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 10px;
    margin-right: 350px;
}


.main3 {
    height: 70vh;
    width: 120vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.smldv {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    height: 50vh;
    width: 35vw;

}

.image11 {
    height: 30vh;
    margin: 20px;
    width: 30vw;

    border-radius: 10px;

}
.bala{
    color:#dfe3eb;
    font-size:30px;
}

.imgdiv {
    display: flex;
}

.main4 {
    background-color: #dfe3eb;
    height: 90vh;
    width: 120vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.name {
    display: flex;
    flex-direction: row;
}

.p {
    color: red;
    height: 10px;
    font-size:30px;
}
p{
    font-family:Bree Serif;
}
.white {
    background-color: white;
    height: 10px;
    width: 50vw;
    border-color: #fffff1;
    border-width: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.maindev {
    display: flex;
    margin: 20px;
}

.white1 {
    background-color: white;
    height: 10px;
    width: 30vw;
    border-color: #fffff1;
    border-width: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.wow {
    display: flex;
    flex-direction: row;
}

.white2 {
    background-color: white;
    height: 30vh;
    width: 70vw;
    border-color: #fffff1;
    border-width: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.btnclr1 {
    background-color: #8B5CF6;
    height: 40px;
    width: 75vw;
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.balaya {
    padding: 10px;
    margin: 5px;
}
.hira{
    color:white;
    background-color:white;
}

.main5 {
    background-color: #1E293B;
    height: 40vh;
    width: 120vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    align-self: auto;
}

.submain {
    margin-left: 30px;
    padding: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 150px;
}