@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.h {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (maxwidth:768px) {
    .kk {
        background-color: black;
    }

    .k {
        text-align: center;
    }

    .mainsub {
        display: flex;
        flex-direction: column;
    }

    
}


.main {
    height: 200vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.k {
    color: white;
    margin-right: 10px;
}

.mm {
    text-align: center;
}

.oo {
    color: white;
    margin-right: 10px;
}

.kk {
    color: white;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.g {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p {
    background-color: #39ff14;
    height: 9px;
    width: 70px;
    border-width: 0px;
    text-align: center;
}

.l {
    text-align: center;
}

.url1 {
    height: 150px;
    width: 130px;
    border-radius: 50px;
}

.pp {
    color: white;
}

.s {
    background-color: #d4ffcc;
    height: 119vh;
    width: 100vh;
}

.sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    border-radius: 20px;
}

.sub2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    border-radius: 20px;
}

.sub3 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    margin: 30px;
    border-radius: 20px;
    height: 400px;
    width: 400px;
}

.mainsub {
    display: flex;
    flex-direction: row;
}

.f {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.kl {
    display: flex;
    flex-direction: row;
}

.dd {
    margin-right: 10px;
}