@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-section{
    background-color: #f9f9f9;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

i{
    color: black;
    font-size: 24px;
    padding-top: 10px;
    font-weight: bold;
}

h1{
    font-size: 20px;
    font-weight: bold;
    padding-left: 75px;
}

@media screen and (min-width: 576px){
    h1{
        padding-left: 200px;
    }
}

.bg1{
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    justify-content: center;
}

h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
}

p{
    color: white;
    font-size: 16px;
}

.bg2{
    background-color: #d1e5f9;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

h3{
    font-size: 24px;
}

.line{
    height: 4px;
    width: 25%;
}

hr{
    background-color: #1976d2;
    width: 25%;
    height: 3px;
    border: none;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px;
}

.d-p{
    color: black;
    font-size: 11px;
}

h4{
    font-size: 24px;
}

.bg3{
    background-color: black;
    padding: 10px;
    width: 100%;
}

.q{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.e{
    text-align: center;
    justify-content: center;
}

.w{
    padding: 10px;
}