@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.button {
    color: white;
    border: yellow;
    outline: 25px;
}

.second {
    text-align: center;
}

.image {
    padding: 100px;
}