@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.s1 {
    background-color: #0A1525;
}

.s2 {
    font-family: "Bree Serif";
    text-align: 10px;
    color: white;
}
.s3{
     color: black;
}