@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.bg-container {
    background-image: url("https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100vw;
    height: 80px;
}
@media (max-width:576px){
  .nav {
    background-color: black;
    display: collapse;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100vw;
    height: 80px;
    
  }
}
@media (width:576px){
  .nav {
    background-color: black;
    display: collapse;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100vw;
    height: 80px;
    
  }
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo-image {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    align-self: center;

}

.h1 {
    color: white;
    font-size: 25px;

}

.main-heading {
    color: white;
    padding-left: 20px;

}

.main-para {
    color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.contact-button {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    padding: 2px;

}

.our-services-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services-heading {
    text-align: center;

}

.services-paragragh {
    text-align: center;
}
.main-card-container{
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
    width:100vw;
}
@media (min-width:576px){
    .main-card-container{
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
    width:100%;
    }
}
@media (min-width:576px){
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    margin-left:10px;
    margin-right:5px;

  }
  
}
@media (max-width:576px){
    .main-card-container{
    display: flex;
    flex-direction:column;
    margin-bottom:10px;
    width:100%;
    align-items:center;
    }
}
@media (max-width:576px){
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
    border-radius: 10px;
    margin-left:10px;
    margin-right:5px;

  }
  
}
@media (width:576px){
    .main-card-container{
    display: flex;
    flex-direction:column;
    margin-bottom:10px;
    width:100vw;
    align-items:center;
    }
}
@media (width:576px){
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
    border-radius: 10px;
    margin-left:10px;
    margin-right:5px;
    

  }
  
}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 200px;
    border-radius: 10px;
    margin-left:10px;
    margin-right:5px;

}
@media (min-width:576px){
    .services-image-1 {
    height: 250px;
    width: 190px;
    border-radius: 10px;
    

}
}
@media (max-width:576px){
    .services-image-1 {
    height: 250px;
    width: 200px;
    border-radius: 10px;

}
}
@media (width:576px){
    .services-image-1 {
    height: 250px;
    width: 200px;
    border-radius: 10px;

}
}

h1{
    font-size:20px;
    padding-left:10px;
}
p{
  font-size:13px;
    padding-left:10px;  
}
@media (width:576px){
    .contact-us-container{
        background-color:white;
        height:500px;
        text-align:center;
    }
}
@media (min-width:576px){
    .contact-us-container{
        background-color:white;
        height:500px;
        text-align:center;
        display:flex;
        flex-direction:column;
    }
}
@media (max-width:576px){
    .contact-us-container{
        background-color:white;
        height:500px;
        text-align:center;
    }
}
.contact-us-container{
        background-color:lightgrey;
        height:500px;
        text-align:center;
        border-radius:10px;
    }
@media (min-width:576px){
    .contact-list{
        background-color:white;
        height:500px;
        text-align:center;
        display:flex;
        flex-direction:column;
        width:600px;
        
    }
}
.contact-heading{
    font-size:20px;
    padding-left:10px;
    text-align:center;
}
.contact-para{
    font-size:15px;
    padding-left:10px;
    text-align:center;
}
.details-content{
border:1px solid black;
border-radius:5px;
height:30px;
}
.details-content1{
border:1px solid black;
height:60px;
border-radius:5px;
}
.details-content:hover{
    background-color:lightgrey;
    border-radius:5px;
}
.details-content1:hover{
    background-color:lightgrey;
    border-radius:5px;
}
.b1{
    background-color:blue;
    color:white;
    width:400px;
    border-radius:5px;
}