@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.main{
    text-align: center;
}
.pr{
    text-align: center;
}
.servic{
    background-color: #d4ffcc;
    text-align: center;
}