@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.image-nav{
    height:30px;
}
.navbar{
    background-color: #0A1525;
    color:white;
    text-align: start;
}

.nav-btns{
    text-align: end;
}
.heading{
    text-align: center;
    color:white;
    background-image: url("https://img.b2bpic.net/premium-photo/cropped-hand-man-using-mobile-phone_1048944-307909.jpg");
    background-size: cover;
    height: 100vh;
    
}
.text{
    padding: 90px;
    padding-top: 170px;
    font-family: "Bree serif";
}
.explore{
   font-size: 35px;
}
.discover{
    
}
.button1{
    background-color: #6C63FF;
    color: white;
    border-color: #6C63FF;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.input1{
 width:80vw;
 height: 40px;
}
.input2{
  width:80vw;
  height: 40px;
}
.input3{
  height: 40px;
  width:80vw;
}
.input4{
  height: 500px;
  width:80vw;
}
.fotter{
    padding: 40px;
    background-color: #0A1525;
    color:white;
}
.image-foot{
    height: 60px;
}
.contact{
    background-color: #dfe3eb;
    padding:20px;
}
.foot-para{
   font-weight: bold; 
}
.button-contact{
    width:80vw;
    background-color: #6C63FF;
    border-color: #6C63FF;
    color:#FFFFFF;
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
    margin-left: 10px;
}
.button-lets{
    margin-top: 10px;
    text-align: center;
}
.content{
    padding: 20px;
}
.image-22{
    border-radius: 20px;
}
.image-33{
    border-radius: 20px;
}
.image-11{
    border-radius: 20px;
}
.ourservive{
    text-align: center;
}
.cloud{
    font-weight: bold;
}