@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.nav-image {
    width: 50px;
    height: 50px;
}
.spark-bg {
    font-family: "Roboto";
}
.service-head {
    text-align: center;
    font-family: Roboto;
}

.nav-bg {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;
    font-family:"Bree Serif";
    background-color: #0A1525;
    color: white;
    padding: 10px;
    
}
.menu-icon {
    margin-top: 20px;
    margin-right: 15px;
}
.home-card {
    background-image: url("https://img.b2bpic.net/premium-photo/laptop-with-business-sketch_700248-24882.jpg");
    background-size:cover ;
    height: 85vh;
    width: 79vw;
    padding-bottom: 20px;
    color: white;
    display: flex;
    font-family: "Roboto";
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    
}
.home-button {
    width: 100px;
    height: 35px;
    border-width: 0px;
    color: white;
    background-color: #FF7A2E;
    border-radius: 10px;
}
.home-head {
    font-size: 50px;
}
.service-para {
    margin-left: 20px;
}
.home-para {
    font-size:20px;
}
.service-sub-head {
    margin-left: 10px;
}
.service-sub-para {
    margin-left: 10px;
    text-align: center;
}
.service-sub {
    width: 300px;
    padding: 20px;
}
.service-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3vw;
   margin-bottom: 5vw;
}
.contact-card {
    background-color: #dfe3eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 3vw;
   padding-bottom: 5vw;
}
.footer-total1 {
    padding-top: 3vw;
    padding-bottom: 4vw;
}
.footer-bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-button {
    height: 30px;
    border-radius: 5px;
    width: 90vw;
    border-width: 0px;
    background-color: #FF7A2E;
    color: white;
}
.contact-sub {
    margin-bottom: 35px;
}
.service-sub-para {
    text-align: start;
    padding-right: 10px;
}
.contact-sub-head {
    font-size: 15px;
}
span {
    color: #FF7A2E;
}
.contact-sub-card2 {
    background-color: white;
    height: 90px;
    width: 90vw;
    border-radius: 8px;
}
.contact-sub-card1 {
    background-color: white;
    height: 30px;
    width: 90vw;
    border-radius: 8px;
    
}
.contact-sub-card {
    background-color: white;
    height: 30px;
    width: 90vw;
    border-radius: 8px;
    
}
.service-sub-total {
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    justify-content: center;
}
.nav-sub {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon1 {
    margin-top: 15px;
    margin-right: 15px;
}
.service-sub-image {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    
}
.footer-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vw;
    width: 60%;
}
.footer-bg {
    background-color: #0A1525;
    color: white;
    padding: 16px;
}
.footer-sub1-head {
    font-size: 20px;
}
.footer-sub1-para {
    font-size: 12px;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav-head {
    font-size: 20px;
    margin-right: 30px;
}
.last-span {
    text-decoration: underline;
}
.footer-para-last {
    font-size: 10px;
    margin-left: 10%;
}
.nav-sub2 {
    display: none;
}
@media (min-width:768px) {
    .home-head {
        font-size: 70px;
    }
    .home-button {
        width: 140px;
        height: 45px;
        font-size: 20px;
    }
    .home-para {
        max-width: 55vw;
    }
    .contact-button {
        height: 40px;
    }
    .service-sub-total {
        gap: 0px;
    }
    .contact-sub-card2 {
        width: 50vw;
    }
    .menu-icon {
        margin-right: 20px;    
    }
    .contact-sub-head {
        font-size: 20px;
    }
    .service-head {
        font-size:40px;
    }
    .service-para {
        font-size: 25px;
        max-width: 60vw;
        text-align: center;
    }
    .contact-para {
        font-size: 20px;
    }
    .contact-head {
        font-size: 40px;
    }
    .contact-sub-card {
        width: 50vw;
    }
    .footer-sub {
        width: 30%;
    }
    .nav-sub2 {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
    .contact-button {
        width: 50vw;
    }
    .contact-sub1 {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    .contact-sub-card1 {
    width: 24vw;
    
}
    .footer-total1{ 
        display: flex;
        margin: 30px;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}