@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.cont1 {
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height: 40vh;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    color: #f9f9f9;
}

.head {
    text-decoration: underline;
}

.btn {
    background-color: #1976d2;
    height: 5px;
    width: 100px;
    border-color: #1976d2;
}

.cont2 {
    background-color: #d1e5f9;
    text-align: center;
    padding-top: 10px;
}

.img1 {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.cont3 {
    background-color: #1b262c;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.img {
    padding: 6px;
}