@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

.container {

    height: 100vh;
    width: 100vw;
}

.nav {
    background-color: #808080;
    color: white;
    font-family: Caladea;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 8vh;
    padding: 2px;
}

.image {
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
}

.head {
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: Roboto;
    text-align: center;
    padding: 90px;
}

.para {
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.bunty {
    background-color: #f7c1c1;
    height: 1300px;
    width: 100vw;
    background-size: cover;
    gap: 0px;
    display: grid;
}

.head1 {
    color: black;
    padding: 10px;
    text-align: center;
}

.dolly {
    height: 30vh;
    width: 60vh;
    padding: 20px;
    border-radius: 40px;
}

.pandu {
    color: black;
    font-family: Caladea;
    text-align: left;
}

.anji {
    font-size: 15px;
     color: black;
}
.foot{
    background-color: #FFFFFF;
    width: 100vw;
    height: 20vh;
}