@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.desktop {
    background-image: url("https://img.b2bpic.net/premium-photo/dollar-icon-plant-business-concept-3d-rendering_35719-17146.jpg");
    height: 400px;
    width: 300px;
    background-size: cover;
    text-align: center;
}

.nav {
    background-color: #1E293B;
    text-align: right;
    padding: 5px;
}

.u {
    color: white;
}

.color {
    color: white;
    font-family: "Bree Serif";
    padding: 7px;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.new {
    height: 70px;
    width: 200px;
}

.button {
    color: white;
    background-color: #F6B352;
    border-radius: 5px;
    border-width: 0px;
    height: 40px;
    width: 80px;
    margin: 19px;
}

.explore {
    padding-left: 70px;
    padding-right: 70px;
}

.head {
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Bree Serif";
}

.img {
    height: 80px;
    width: 90px;
    border-radius: 10px;
}

.main {
    justify-content: center;
}

.portfolio {
    color: #1E293B
}

.background {
    background-color: #dfe3eb;
    text-align: center;
}

.contact {
    font-family: "roboto";
}

.text {
    padding: 8px;

}

.next {
    height: 30px;
    width: 278px;
    background-color: white;
    border-radius: 7px;
}

.name {
    text-align: left;
}

.cd {
    background-color: #1E293B;
    height: 500px;
    width: 300px;
}

.pict {
    height: 50px;
    width: 30;
}

.invest {
    color: #FFFFFF;
}

.icon {
    padding: 40px;
}

.b {
    color: #dfe3eb;
}

.hyderabad {
    color: white;
}

.size {
    text-decoration: underline;
}