@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.container {
    font-family: "Bree Serif";
}
.navbar {
    background-color:#0A1525;
    background-size:cover;
    padding:10px;
}
.size {
    height:60px;
    width:80px;
}
.navname {
    font-family:"Bree Serif";
    font-weight:bold;
    color:white;
    margin-left:10px;
    font-size:25px;
}
.color {
    color:#ffffff;
    margin-left:auto;
    margin-top:15px;
    
}
.adjust {
    display:flex;
    flex-direction:row;
}
.aa {
    display:none;
}
.main {
    background-image:url("https://img.b2bpic.net/premium-photo/cropped-hand-man-using-mobile-phone_1048944-307909.jpg");
    background-size:cover;
    height:100vh;
    font-family:"Bree Serif";
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding:20px;
    
}
.header {
    font-weight: bold;
    font-size:40px;
}
.para {
    color:#dfe3eb;
    font-size:20px;
}
.button {
    background-color:#6C63FF;
    height:50px;
    border:2px #6C63FF solid;
    width:90px;
    color:#ffffff;
    font-family:"Bree Serif";
    border-radius:9px;
    margin-top:10px;
}
.services {
    font-family:"Bree Serif";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.head {
    font-weight:bold;
    text-align:center;
}
.para1 {
    color:#1E293B;
    font-size:20px;
    margin-bottom:50px;
     text-align:center;
}
.card {
    height:50%;
    width:100%;
    margin:10px;
    background-color:#ffffff;
    font-family:"Bree Serif";
    display:flex;
    flex-direction:column;
    
    justify-content:center;
    align-items:flex-start;
    margin-left:50px;
}
.card2 {
    height:25%;
    width:100%;
    margin:10px;
    background-color:#ffffff;
    font-family:"Bree Serif";
    display:flex;
    flex-direction:column;
    
    justify-content:center;
    align-items:flex-start;
    margin-left:40px;
}
.sizecard{
    height:25%;
    width:90%;
    border-radius:20px;
    /* text-align:center; */
    border:2px #dfe3eb solid;
}
.sizecard2{
    height:290px;
    width:90%;
    border-radius:20px;
    /* text-align:center; */
    border:2px #dfe3eb solid;
}
.head1 {
    
}
.para2 {
    color:#1E293B;
}
.contact{
    background-color:#dfe3eb;
    background-size:cover;
    height:100%;
    margin-top:30px;
    font-family:"Bree Serif";
    padding:30px;
}
.head3 {
    text-align:center;
}
.para3 {
    color:#1E293B;
    text-align:center;
}
.box {
    background-color:#ffffff;
    height:30px;
    width:100%;
    border:2px #dfe3eb solid;
}
.box1 {
    background-color:#ffffff;
    height:180px;
    width:100%;
    border:2px #dfe3eb solid;
}
.text {
    color:red;
}
.button1 {
    background-color:#6C63FF;
    height:30px;
    border:2px #6C63FF solid;
    width:100%;
    color:#ffffff;
    font-family:"Bree Serif";
    border-radius:9px;
    margin-top:20px;
}
.footer {
    background-color:#0A1525;
    background-size:cover;
    padding:10px;
    height:100%;
}
.size1 {
    height:60px;
    width:80px;
    margin-top:30px;
    margin-left:30px;
}
.para4 {
    color:white;
}
.line {
    display:flex;
    flex-direction:row;
}
.color1 {
    color:#ffffff;
    margin-left:20px;
    margin-top:10px;
}
.flexx {
    display:flex;
    flex-direction:row;
    color:#dfe3eb;
    justify-content: center;
    margin-top:30px;
    margin-bottom:30px;
}
.flex-1 {
    display:flex;
    flex-direction:column;
    margin-right:40px;
}
.flex-2 {
    display:flex;
    flex-direction:column;
}
.span{
    outline: line-through;
}
.hhh {
    font-weight:bold;
    color:#ffffff;
}
footer {
    color:#dfe3eb;
    font-family: "Bree Serif";
    
}
.ddd {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
@media (min-width:992px) and (max-width:1200px){
    .aa {
        display: block;
        color:#ffffff;
        margin-left:auto;
        margin-top:30px;
        
    }
    .pp {
        margin:20px;
        font-size:15px;
    }
    .color{
        margin-top:35px;
    }
    .size {
        margin-left:150px;
    }
    .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
   
    }
    .set {
        margin-left:150px;
    }
    .header {
       font-size:80px; 
    }
    .para {
        font-size:30px;
    }
    .button {
        height:20%;
        width:30%;
        font-size:30px;
    }
    .head {
        font-size:60px;
    }
    .para1 {
        font-size:30px;
    }
    .ddd {
        display: flex;
        flex-direction:row;
    }
    .sizecard2{
    height:150px;
    width:90%;
    border-radius:20px;
    /* text-align:center; */
    border:2px #dfe3eb solid;
    }
    .head1{
        font-size:30px;
    }
    .para2{
        font-size:20px;
    }
    .card {
        margin-left:20px;
    }
    .card2 {
        margin-left:20px;
    }
    .mainn1{
        display:flex;
        flex-direction:row;
        margin-top:20px;
        margin:10px;
    }
    .box2{
    background-color:#ffffff;
    height:70px;
    width:50%;
    border:2px #dfe3eb solid;
    }
    .contact{
        font-size:30px;
        
    }
    .box {
       background-color:#ffffff;
    height:70px;
    width:80%;
    border:2px #dfe3eb solid; 
    }
    .box2{
    background-color:#ffffff;
    height:60px;
    width:50%;
    border:2px #dfe3eb solid;
    margin-top:20px;
    margin-right:20px;
    }
    .box1 {
        height:200px;
    }
    .button1 {
        font-size:20px;
        height:60px;
    }
    .dii {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
    }
    .row1 {
        display:flex;
        flex-direction: column;
    }
    .para4 {
        margin-right:30px;
        margin-left:30px;
        font-size:20px;
    }
    footer {
        margin-left:90px;
    }
    .flex-1{
        font-size:25px;
    }
    .flex-2{
        font-size:20px;
    }
    .line {
      margin-left:20px;
    }
    .navname{
        font-size:30px;
    }
}