@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: Roboto;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items {
    display: flex;
}

.navbar>div>h1 {
    margin: 20px;

}

.main {
    height: 80vh;
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 2px 2px #777;
}

.main>h1 {
    font-size: 50px;
    text-align: center;
}

.main>p {
    font-size: 20px;
    text-align: center;
}

.para {
    border-top: 5px;
    border-style: solid;
    border-color: #1976d2;
    width: 25%;
    margin-bottom: 20px;
}

.card {
    text-align: center;
    width: 44%;
    margin: 1%;
}

.card>img {
    border-radius: 900px;
    width: 200px;
    height: 200px;

}

@media (max-width : 768px) {
    .card {
        width: 100%;
        margin: 10px;
    }
}

.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.services {
    background-color: #d1e5f9;
}

.our {
    text-align: center;
    background-color: #d1e5f9;
}

@media (max-width : 768px) {
    .nav {
        width: 100%;
    }

    .items {
        display: none;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .hello {
        margin: 15px;
        margin-right: 0px;
        font-size: 30px;
    }

}

@media (min-width : 769px) {
    .hello {
        display: none;
    }
}
.footer{
    background-color: #1b262c;
    display: flex;
    justify-content: space-between;
    height:15vh;
}
.footer>div{
    color: white;
    font-size: 10px;
  
    
}
.headigs{
    margin: 10px;
    margin-left:7vh ;
}
.links{
    margin: 10px;
    margin-right: 7vh ;
}
.try{
    background-color: #d1e5f9;
}