@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bg-color {
    background-color: #1b262c;

}

.heading {
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.bg-image {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 350px;
    width: 100%;
    background-size: cover;
}

.main-heading {
    color: #FFFFFF;
    text-align: center;
}

.para {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
}

.container {
    background-color: #f2ccff;
}

.heading_a {
    color: #000000;
    text-align: center;
    padding: 20px;
}

.image_1 {
    height: 250px;
    width: 350px;
    padding-left: 20px;
    border-radius: 20px;
    margin: 20px;
}

.head {
    padding: 15px;

}

.para_1 {
    padding: 5px;
}

.footer_1 {
    background-color: #FFFFFF;
}

.bottom {
    padding: 20px;
}