@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg") ;
    background-size: cover;
    height:100vh;
     width:100vw;
}
.bg-cont{
    background-color: #1b262c;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:25px;
    padding:15px;
}
.nav-link{
    color:#FFFFFF;
    font-family: "Roboto";
    margin:5px;
    font-weight: bold;
}
.nav-link1{
    color:#FFFFFF;
    font-family: "Roboto";
    font-size:25px;
    margin:5px;
    font-weight: bold;
}
.nav-link2{
    color:#FFFFFF;
    font-family: "Roboto";
    text-decoration: underline;
    margin:5px;
    margin-left:20px;
    font-weight: bold;
}
.bg-para{
    height:5px;
    width:100px;
    background-color: #bf00ff;
    margin-left:150px;
     font-family: "Roboto";
}
.heading1{
    color:#FFFFFF;
    font-size:35px;
     font-family: "Roboto";
}
.section-elements{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin-top:20px;
}
.para1{
    color:#FFFFFF;
    font-size:30px;
     font-family: "Roboto";
}
.service-bg{
    background-color: #f2ccff;
    background-size:cover;
    height:100vh;
    width:100vw;
}
.sec-heading{
    font-family: "Roboto";
    display:flex;
    justify-content: center;
    padding:15px;
    color:#00000;
}
.bg-para1{
    height:3px;
    width:70px;
    background-color: #bf00ff;
    margin-left:180px;
    font-family: "Roboto";
}
.image-sec{
    height:250px;
    width:250px;
    border-radius:10px;
    margin-top:130px;
}
.card-heading{
    font-family: "Roboto";
    margin:20px;
    padding:15px;
    color:#00000;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2ccff;
    border-radius:10px;
    height:550px;
    width:250px;
    margin:10px;
    margin-top:60px;
}
.para-card{
    font-family: "Roboto";
    
    
    color:#00000;
}
.sec-cards-arrange{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}