@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.navbar{
    background-color: black;
    color:White;
    display: flex;
    justify-content: space-between;
}
.item{
    margin:10px;
}
.section-1-b{
    display:flex;
    margin-right:40px;
    padding:10px;
}
.section-2{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg");
    background-size:cover;
    height:40vh;
    padding:80px;
    
}
.sm-box{
    background-color: white;
    height:10px;
    width:180px;
}
.size{
    font-size: 60px;
}
.size-p{
    font-size: 40px;
}
.services{
    background-color: #e5e5e5;
    padding:10px;
    text-align:center;
}