@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.black-card-nav {
    height: 25px;
    width: 455px;
    background-color: #0A1220;
}

.image-icon {
    height: 15px;
    width: 20px;
}