@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.orange {
    background-color: #FF7A2E;
    color: white;
    border-radius: 10px;
    border: 0px;
}

.background {
    background-image: url("https://img.b2bpic.net/premium-photo/laptop-with-business-sketch_700248-24882.jpg");
    background-size: cover;
    height: 100vh;
}

.center {
    text-align: center;
}

.main-head {
    color: #FFFFFF;
    font-size: 70px;
}

.para1 {
    color: #FFFFFF;
}

.main-head2 {
    color: #0A1525;
}