@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
    font-family: "Bree Serif";
}

.nav-section {
    width: 100vw;
    background-color: #0A1525;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.hero-section {
    background-image: url('https://img.b2bpic.net/premium-photo/dollar-icon-plant-business-concept-3d-rendering_35719-17146.jpg');
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
    height: 60vh;
    padding: 40px;
}

.Our-Services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Our-Services-Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.Our-Services-image {
    border-radius: 20px;
}

.hero-section-btn {
    background-color: #F6B352;
    border-radius: 10px;
    border-width: 0px;
    color: #FFFFFF;
    height: 40px;
    width: 90px;
}

.Contact-Us-Container {
    background-color: #dfe3eb;
    width: 100vw;
    height: 160vh;
    padding: 10px;
}

.Contact-Us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

span {
    color: red;
}

.Contact-Us-buttons {
    height: 40px;
    width: 500px;
    margin: 10px;
    background-color: #FFFFFF;
    border-color: #dfe3eb;
    border-radius: 5px;
}

.Contact-Us-button {
    height: 400px;
    width: 500px;
    margin: 10px;
    background-color: #FFFFFF;
    border-color: #dfe3eb;
    border-radius: 5px;
}

.Contact-Us-button-btn {
    background-color: #F6B352;
    border-radius: 5px;
    border-width: 0px;
    height: 40px;
    width: 500px;
    color: #FFFFFF;
}