@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.container{
    background-image: url("https://img.b2bpic.net/premium-photo/cd-transfer-graphic-background-3d-rendering_924688-379.jpg");
    background-size: cover;
    height: 100vh;
    
}
.card1{
    
}