@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");



.heading {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg");
    height: 400px;
    background-size: cover;
}

.text{
    color: #FFFFFF;
    text-align: center;
    
}
.card{
    background-color: #f7c1c1;
    height: 600px;
    text-align: center;
}