@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.nav-image {
    height: 50px;
    padding: 12px;
}

.navi {
    background-color: #1E293B;
    height: 50%;
}

.container-top {
    background-image: url("https://img.b2bpic.net/premium-photo/social-distance-concept-with-3d-rendering-human-keep-space-each-other_493806-7770.jpg");
    background-size: cover;
    height: 100vh;

    margin-top: 2px;
    padding-top: 12px;
}

.heading-top {
    color: #FFFFFF;
    font-family: "Roboto";
    text-align: center;
    flex-direction: center;
}

.para-top {
    color: #FFFFFF;
    text-align: center;
    padding-top: -1px;
}

.btn {
    background-color: #FFD700;
    border-color: #FFD700;
    border-radius: 12px;
    color: #FFFFFF;
}

.divi {
    text-align: center;
}

.heading-2 {
    text-align: center;
    font-family: "";
}
.para-2{
    text-align: center;
}
.image-close{
    height: 120px;
    margin-top: 52px;
    margin-left: 12px;
    border-radius: 12px;
}
.heading-close{
    margin-left: 12px;
}
.para-2{
    margin-left: 12px;
}
.image-close-2{
    height: 90px;
    margin-top: 52px;
    margin-left: 12px;
    border-radius: 12px;
}
.heading-close{
    margin-left: 12px;
}
.image-close-3{
    height: 90px;
    margin-top: 52px;
    margin-left: 12px;
    border-radius: 12px;
}
.Contact-us-container{
    
}
.heading-contact{
    text-align: center;
    color: #1E293B;
}
.para-contact{
    text-align: center;
}
.span{
    color: red;
}
.divi-emty{
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
}
.divi-emty-2{
    border: 1px solid black;
    height: 125px;
    border-radius: 5px;
}
.btn-yellow{
    color: #FFFFFF;
    background-color: #FFD700;
    border-color: #FFD700;
    height: 30px;
    width: 100vw;
    margin-top: 12px;
}
.last-page{
    background-color: #1E293B;
    height: 100vh;
}
.image-last{
    height: 100px;
    padding: 34px;
}
.para-last{
    color: #FFFFFF;
    text-align: center;
}
.divi-5{
    color: white;
    text-align: center;
}