@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.navbar {
    height: 20px;
    background-color: #0A1525;
    padding: 10px;
}

.logo {
    height: 15px;
    padding: 2px;
}

.background-img {
    background-image: url("https://img.b2bpic.net/free-photo/construction-site-silhouettes_1127-3253.jpg");
    height: 390px;
    width: 600px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

.btn {
    background-color: #4B9EFF;
    color: #FFFFFF;
    border-radius: 5px;
}

.image {
    height: 100px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.bold-txt {
    font-family: "Bree Serif";
    font-weight: bold;
}

.align {
    text-align: center;
}