@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.page {
    color: #0A1525;
}

.page1 {
    background-image: url("https://img.b2bpic.net/premium-photo/social-distance-concept-with-3d-rendering-human-keep-space-each-other_493806") background: cover;
    font-family: Sans-Serif Serif;


}

.page3 {}