@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
    margin: 0px;
}

.header {
    background-color: #0A1525;
    height: 15vh;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.header-icon {
    height: 60px;
    margin: 20px;
}

.header-name {
    color: #FFFFFF;
    font-family: "Bree Serif";
}

.nav-links-container {
    margin-left: 250px;
    display: flex;
    align-items: center;
}

.nav-links {
    margin-left: 20px;
    color: #FFFFFF;
    font-family: "Bree Serif";
    font-size: 20px;
}

.hamburger {
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 40px;
}

.bg-1 {
    background-image: url('https://img.b2bpic.net/premium-photo/cropped-hand-man-using-mobile-phone_1048944-307909.jpg');
    height: 100vh;
    background-size: cover;


}

.landing-page-text {
    padding: 300px;
    color: #FFFFFF;
    font-family: "Bree Serif";
}

.landing-page-head {
    font-size: 50px;
}

.landing-page-button {
    background-color: #6C63FF;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 23px;
    padding: 5px;
    height: 70px;
    width: 150px;
    border-color: #6C63FF;
    border-width: 0px;
}


.service-section {
    height: 60vh;
    padding: 10px;
}

.service-section-head1 {
    text-align: center;
    font-family: "Bree Serif";
    font-weight: bold;
}

.service-section-head2 {
    text-align: center;
    font-family: "Bree Serif";
    color: grey;
}

.services-image {
    height: 200px;
    border-radius: 15px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

.services-image3 {
    height: 200px;
    width: 300px;
    border-radius: 15px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}

.services-div {
    display: flex;
    align-items: center;
}

.service {
    margin-top: 60px;
    margin-left: 60px;
}

.services-text-head {
    font-size: 30px;
    font-family: "Bree Serif";
}

.services-text-para {
    margin-top: 0px;
    font-size: 23px;
    font-family: "Bree Serif";
    color: grey;
}

.contact-section {
    height: 80vh;
    margin-top: 50px;
    padding: 20px;
    background-color: #dfe3eb;
}

.contact-inputs {
    padding-left: 20px;
    justify-content: center;
}

span {
    color: red;
}

input {
    border-radius: 12px;
    border-width: 0px;
}

.input1 {
    width: 700px;
    height: 40px;
    margin-left: 200px;
}

.Name {
    margin-left: 200px;
}

.inputs2 {
    display: flex;
    align-items: center;
}

.input2 {
    width: 300px;
    height: 40px;
    margin-left: 200px;

}

.Ph {
    margin-left: 80px;
}

.input3 {
    width: 300px;
    height: 40px;
    margin-left: 80px;
}

.input4 {
    width: 700px;
    height: 200px;
    margin-left: 200px;
}

.contact-button-div {
    margin-top: 10px;
    text-align: center;
}

.contact-button {
    background-color: #6C63FF;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 30px;
    width: 700px;
    height: 50px;
    margin-left: 2px;
    border-color: #6C63FF;
    border-radius: 7px;
}




.footer-section {
    height: 60vh;
    background-color: #0A1525;
}

.footer-divs-container {
    display: flex;
    align-items: center;
}

.footer-head {
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Bree Serif";
}

.footer-text-1 {
    font-size: 20px;
    font-weight: bold;
    color: grey;


}

.footer-div {
    margin: 40px;
}

.footer-section i {
    color: #FFFFFF;
    margin: 5px;
    font-size: 30px;
}

.copyright {
    color: grey;
    font-size: 25px;
    margin-left: 30px;
}