@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main1 {
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    height: 400px;
    background-size: cover;
    align-content: center;
    color: white;

}

.p {
    background-color: #1976d2;
    height: 1px;
    width: 100px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;

}

.h1 {
    margin: 30px;
}

.p2 {
    margin: 60px;
}

.main2 {
    background-color: #d1e5f9;
    height: 500px;
    width: 1200px;
}

.h2 {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.line {
    background-color: #1976d2;
    height: 2px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: left;


}

.img1 {
    border-radius: 800px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.total {
    display: flex;
    flex-direction: row;

}

.a3 {
    align-content: center;
}

.last {
    background-color: #1b262c;
    height: 200px;
    color: white;
    padding: 40px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}