@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.logo {
    height: 40px;
}

.card1 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}

#bars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainPage {
    background-image: url("https://img.b2bpic.net/premium-photo/future-innovation-concept_700248-23746.jpg");
    height: 60vh;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 20%;


}

.bt1 {
    background-color: #00E5BE;
    border-color: transparent;
    height: 30px;
    border-radius: 5px;
    color: white;
}

.content1 {
    text-align: center;
}

.img-sm-1 {
    height: 34vh;
    border-radius: 10px;
}