@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
nav{
    background-color: #000000;
    height:50px;
    width:100vw;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
}
 ul{
     display: none;
     gap:2rem;
 }
 li{
     list-style: none;
 }
 a{
     color:white;
     font-family:"Roboto";
 }
 .bars{
     display: flex;
     margin-top:10px;
     margin-right:10px;
 }
 @media screen and (min-width:992px){
      ul{
         display:flex;
         gap:2rem;
         margin-right:120px;
         pointer:cursor
      }
     .bars{
     display: none;
     margin-top:10px;
     margin-right:10px;
     }
    .bg-2{
     background-color: #d4ffcc;
     height: 50vh;
     width:100vw;
  }
  .c1{
      display: flex;
  }
  .card{
      margin-left:20px;
  }
  
 }
 .bg1{
     background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
     height:60vh;
     width:100vw;
     background-size: cover;
     color:#FFFFFF;
     font-family: "Roboto";
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .line{
     height:10px;
     width:300px;
     background-color: #39ff14;
 }
 .bg-2{
     background-color: #d4ffcc;
     height:80vh;
     width:100vw;
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items:center;
 }
 .h1{
     padding-top:20px;
     text-align: center;
 }
 .card{
     background-color: #FFFFFF;
     height: 330px;
     width:400px;
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items:center;
     margin-top:20px;
 }
 .img1{
     height:150px;
     width:130px;
     border-radius:100px;
     margin-top:10px;
 }
 fotter{
     height:100px;
     width:100vw;
     background-color: #FFFFFF;
     font-family:"Roboto";
 }
 .w{
     display: flex;
     justify-content: center;
     gap:2rem;
 }
  .h{
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 li :hover{
     color:orange;
 }