@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.ff{
    color: white;
    font-family: Caladea;
    
;
}
img{
    height: 250px;
    width: 350px;
    text-align: center;
    
}
.hh{
    color: #808080;
   
    
}
.sss{
    background-color: #f7c1c1  ;
    
}
.kl{
    text-align: center;
}
.black{
    color: #808080;
    background-color: #ffffff;
}