@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header{
    font-family: Roboto;
    background-color: #f9f9f9;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
   padding: 10px;
   text-align: left;
   
}
.name{
    padding-right: 150px;
    font-size: 15px;
}
.page1{
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    background-size: cover;
    height:500px;
    width:100%;
    color:white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
.button{
    height:15px;
    width:300px;
    background-color: #1976d2;
    border:none;
}
.tagline{
    font-size: 24px;
}
.page2{
    background-color: #d1e5f9;
    background-size: cover;
    font-family: Roboto;
    text-align: center;
    padding-top: 10px;
}
.i1{
    border-radius: 200px;
    height:120px;
}
.page3{
    background-color: #1b262c;
    color:white;
    text-align: center;
    padding: 20px;
    
}