@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.header-img {
    height: 40px;
    width: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.header {
    background-color: #0A1426;
    height: 60px;
}

.para {
    color: #FFFFFF;
}

.card-container {
    background-image: url("https://img.b2bpic.net/premium-photo/african-american-doctor-showing-medical-expertise-elderly-patient-discussing-medication-treatment-hospital-waiting-area-receptionist-standing-reception-counter-checking-report-computer_482257-64469.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.card-heading {
    color: #FFFFFF;
    font-family: "Bree Serif";
}

.card-para {
    color: #FFFFFF;
    font-family: "Bree Serif";
}