@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.card-1{
    background-image: url('https://img.b2bpic.net/premium-photo/cd-transfer-graphic-background-3d-rendering_924688-379.jpg');
    padding:70px 50px;
    background-size:cover;
}