.a {
    background-color: #0A1525;
    height: 250px;
    width: 1000px;
}

.b {
    padding: 20px;
    text-align: center;

}

.c {
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    text-size-adjust: 15px;
}

.e {
    height: 1200px;
    width: 1000px;
}

.f {
    height: 50px;
    text-align: center;
}

.g {
    height: 50px;
    text-align: center;
    size: 50px;
}

.h {
    text-align: center;
}

.i {
    text-align: center;
}

.j {
    text-align: center;
}

.k {
    text-align: center;
}

.l {
    text-align: center;
}

.m {
    text-align: center;
}

.n {
    background-color: #dfe3eb;
    height: 1000px;
    width: 900px;
}

.o {
    height: 50px;
    text-align: center;
}

.p {
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.q {
    padding: 60px;
    font-size: 20px;
}

.r {
    padding: 20px;
    height: 5px;
    width: 600px;
    text-align: center;
}

.s {
    padding: 60px;
    font-size: 20px;
}

.t {
    padding: 20px;
    height: 5px;
    width: 600px;
    text-align: center;
}

.u {
    padding: 60px;
    font-size: 20px;
}

.v {
    padding: 20px;
    height: 5px;
    width: 600px;
    text-align: center;
}

.x {
    padding: 90px;
    height: 5px;
    width: 600px;
    text-align: center;
}

.z {
    padding: 20px;
    height: 5px;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
}

.bg {
    background-color: #0A1525;
    height: 1000px;
    width: 1000px;
}

.gb {
    padding: 70px;
}

.h1 {
    color: #dfe3eb;
}

.kj {
    font-size: 100px;
}

.hn {
    color: #dfe3eb;
}

.th {
    color: #dfe3eb;
}

.sk {
    color: #dfe3eb;
    text-align: center;
}

.vh {
    color: #dfe3eb;
}

.bs {
    color: #dfe3eb;
}

.sb {
    color: #dfe3eb;
}

.ik {
    color: #dfe3eb;
}

.uk {
    color: #dfe3eb;
}