@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.navbar {
    height: 10vh;
    width: 100%;
    background-color: black;
}

.logo1 {
    height: 50px;
    margin-top: 10px;

}

.logo {
    display: flex;
    color: white;
    font-family: "Bree Serif";
    gap: 10px;
    padding: 5px;
    margin-left: 40px;
}

.head1 {
    margin-top: 10px;
}

.container1 {
    display: flex;
    margin-left: auto;
    gap: 10px;
    margin-top: 20px;
}

@media screen and (min-width:576px) {
    .navbar {
        height: 10vh;
        width: 100%;
        background-color: black;
    }

    .logo1 {
        height: 50px;
        margin-top: 10px;

    }

    .logo {
        display: flex;
        color: white;
        font-family: "Bree Serif";
        gap: 10px;
        padding: 5px;
        margin-left: 40px;
    }

    .head1 {
        margin-top: 10px;
    }
}