@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav {
    width: 400px;
    height: 30px;
}

.text1 {
    color: black;
    margin-left: 5px;
}
.img1 {
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height: 100vh;
    width: 300vw;
    padding: 5px;
}

.text2 {
    color: #FFFFFF;
    font-family: "Roboto";

    justify-content: center;
}

.text3 {
    color: #1976d2;
    font-weight: bold;
    font-size: 40px;
}
.img2{
    border-radius:100px;
    border-width:0px;
    height:100px;
    width:100px;
}
.section2{
    background-color:#d1e5f9;
    height:100vh;
}
.text4{
    color:black;
    font-family:"Roboto";
}
.section3{
    background-color:#1b262c;
    color:white;
    padding:0px;
}