@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.navbar{
    background-color: #0A1525;
    height: 10vh;
}
.bg{
  background-image: url('https://img.b2bpic.net/premium-photo/social-distance-concept-with-3d-rendering-human-keep-space-each-other_493806-7770.jpg');
  height: 92vh;
  background-size: cover;
  
}
h1{
    color: #ffffff;
    font-size: 41px;
}
.text{
    text-align: left;
    padding: 70px;
    font-family: "Bree Serif";
    padding-top: 110px;
    justify-content: center;
}
.logo-image{
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 5px;
}
p{
    color: #ffffff;
}
h2{
    font-family: "Bree Serif";
}
.size{
    font-size: 20px;
    font-family: "Bree Serif";
}
.button{
    background-color: #ffd700;
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}
.x{
    color: #0a1525;
}
.z{
    color: #0a1525;
    font-size: 25px;
}
.center{
    text-align: center;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.image1{
    height: 230px;
    width: 360px;
    border-radius: 10px;
}
.q{
    text-align: center;
    color: #1e293b;
}
.contact{
    text-align: center;
    padding: 70px;
}
.black{
    color: #0a1525;
    padding-bottom: 50px;
    text-align: left;
}
.buttonx{
    background-color: #ffd700;
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
    height: 40px;
    width: 400px;
}
.end{
    background-color: #0a1525;
    height: 75vh;
}
.end-pad{
    padding: 30px;
    padding-top: 50px;
}
.bi{
    color: #ffffff;
    padding: 15px;
}
.grey{
    color: grey;
}
.white{
    color: #ffffff;
}
.font{
    font-family: "Bree Serif";
}
.fa{
    color: white;
}
.align{
    text-align: right;
}
.b{
    color: grey;
    padding-top: 50px;
}