@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");


.nav {
    background-color: #0a1525;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
}

.name {
    padding-left: 10px;
    font-size: 36px;
    font-weight: bold;
}

.logo-cont {
    display: flex;
}

.im {
    height: 70px;
    padding-top: 16px;
}

.text-cont {
    display: flex;
    padding-top: 30px;
}

.only_lg {
    padding-left: 15px;
    font-family: "Bree Serif";
}

@media (max-width:991px) {
    .only_lg {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }
}

.contact-us {
    background-image: url('https://img.b2bpic.net/premium-photo/laptop-with-business-sketch_700248-24882.jpg');
    background-size: cover;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

    padding-left: 10%;
}

.head {
    font-size: 38px;

}

.btn {
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-color: orange;
}

@media (min-width:992px) {
    .contact-us {
        padding-left: 25%;
    }

    .head {
        font-size: 48px;
    }
}

.our-services {
    padding: 10%;
    color: #1e293b;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

.serv-cont {
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
}

.service1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 27%;
    text-align: left;
}

.service2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 27%;
    text-align: left;
}

.service3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 27%;
    text-align: left;
}

@media (max-width:991px) {
    .serv-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service1 {
        max-width: 80%;
        align-items: center;
        text-align: center;
    }

    .service2 {
        max-width: 80%;
        align-items: center;
        text-align: center;
        padding-top: 7%;
    }

    .service3 {
        max-width: 80%;
        align-items: center;
        text-align: center;
        padding-top: 7%;
    }
}

.im1 {
    height: 170px;
    width: 220px;
    border-radius: 10px;
}

.inputs {
    padding-top: 3%;
}

.inputs-cont {
    padding: 30px;
    background-color: #dfe3eb;
}

.email-input {
    width: 40vw;
}

.phone-input {
    width: 40vw;

}

@media (min-width:991px) {
    .flex-inp {
        display: flex;
    }

    .box-phone {
        padding-left: 16px;
    }
}

.comm-input {
    height: 16vh;
}

.talk-btn {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
    font-weight: bold;
    border-color: orange;
}

.footer-sec {
    padding: 48px;
    background-color: #0a1525;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icons {
    color: lightgrey;
}

i {
    padding-left: 5px;
    padding: 10px;
}

.cu {
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.both {
    display: flex;

}

.menu {
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
}