@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 60px;
    color: white;
}
.kk{
    font-size: 30px;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.cont1{
    height: 50vh;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Times New Roman";
}
.para1{
    font-size: 30px;
    font-family: "Times";
}
.services{
    text-align: center;
    background-color: #e5e5e5;
    height: 70vh;
}
.core{
    display: flex;
    flex-direction: row;
}
.card{
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.img{
    height: 120px;
    margin: 10px;
    border-radius: 90px;
}
.card1{
    text-align: center;
    background-color: white;
    margin-left: 180px;
    margin-right: 180px;
    height: 30vh;
    border-radius: 10px;
    
}
.dd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    background-color: #3d3d3d;
    color: white;
    padding: 20px;
}
.tt{
    margin: 15px;
    
}
@media screen and (max-width:767px){
    .navbar{
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 60px;
    color: white;
}
.kk{
    font-size: 30px;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.cont1{
    height: 50vh;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Times New Roman";
}
.para1{
    font-size: 30px;
    font-family: "Times";
}
.services{
    text-align: center;
    background-color: #e5e5e5;
    height: 140vh;
}
.core{
    display: flex;
    flex-direction: column;
    font-family: "serif";
}
.card{
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.img{
    height: 120px;
    margin: 10px;
    border-radius: 90px;
}
.card1{
    text-align: center;
    background-color: white;
    height: 40vh;
    width: 60vw;
    border-radius: 10px;
    margin-right: 200px;
    
}
.dd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    background-color: #3d3d3d;
    color: white;
    padding: 20px;
    text-align: center;
}
.tt{
    margin: 15px;
    
}
}