@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bg-image {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/95146/2000_5ce7cae4d66bb.jpg");
    min-height: 50vh;
    background-size: cover;
}

.nav-container {
    background-color: #87ceeb;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
}



.nav-container h1 {
    font-family: "Roboto";
    color: #000000;
    font-weight: bold;
    font-size: 40px;
}

.nav-align {
    padding-top: 40px;
}

.nav-align a {
    font-family: "Roboto";
    color: #000000;
    padding-right: 20px;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.home-page {
    display: flex;
    flex-direction: column;
    margin: 120px;
    align-items: center;
}


.home-page h1 {
    font-family: "Roboto";
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    /* padding-top: 60px; */

}

.nav-container1 {
    background-color: #87ceeb;
    min-height: 5px;
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.home-page p {
    font-family: "Roboto";
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
}

.services-container {
    background-color: #FFFFFF;
    /*  height: 700px; */
}

.services-container h1 {
    font-family: "Roboto";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 40px;

}

.img-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.image1 {
    border-radius: 200px;
    height: 100px;
    width: 100px;
}

.img1 h1 {
    font-family: "Roboto";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.img1 p {
    font-family: "Roboto";
    color: #000000;
    /* font-weight: bold; */
    text-align: center;
    font-size: 20px;
}

.image-alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bg-color {
    background-color: #1b262c;
}

.nav-container2 {
    display: flex;
    justify-content: space-around;
    height: 200px;

}

.nav-container2 h1 {
    font-family: "Roboto";
    color: #FFFFFF;
}

.nav-container2 p {
    font-family: "Roboto";
    color: #FFFFFF;
}

.nav-align1 a {
    font-family: "Roboto";
    color: #FFFFFF;
    padding-right: 20px;

    text-decoration: none;
}

.nav-align1 {
    padding-top: 30px;
}

@media screen and (max-width:576px) {
    .image-alignment {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-align {
        display: none;
    }

    .ham-bur {
        display: flex;
        height: 50px;
    }

    .nav-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;

    }

    .nav-align1 {
        order: 1;
        /* padding-top: 30px; */

    }
}

.ham-bur {
    display: none;
}