@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.bg-container{
    height: 100vh;
    width: 100%;
}

@media (max-width: 576px){
    .bg-container{
        background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
        height: 50vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .head{
        color: #ffffff;
        font-size: 30px;
        
    }
    .para{
        color: #ffffff;
    }
    .container{
        background-color: #d1e5f9 ;
        height: 230vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .girl-serching{
        height: 20vh;
        width: 27vw;
        border-radius: 200px;
    }
    .heading{
        text-align: center;
        font-weight: bold;
    }
    .last-container{
        background-color: #1b262c;
        height: 30vh;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 576px){
    .bg-container{
        background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
        height: 50vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .head{
        color: #ffffff;
        font-size: 30px;
        
    }
    .para{
        color: #ffffff;
    }
    .container{
        background-color: #d1e5f9 ;
        height: 230vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .girl-serching{
        height: 20vh;
        width: 27vw;
        border-radius: 200px;
    }
    .heading{
        text-align: center;
        font-weight: bold;
    }
    .last-container{
        background-color: #1b262c;
        height: 30vh;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}