@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
    margin: 0px;
}

.whole-container {
    height: 100vh;
    width: 100vw;
}

.nav {
    background-color: #0A1525;
    color: #FFFFFF;
    font-size: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 35px;
    margin-right: 6px;
}

.nav-logo {
    display: flex;
}

.fa-bars {
    padding: 10px;
    margin-top: 5px;
}

/*home-page*/
.bg-container {
    width: 100%;
    background-image: url("https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg");
    height: 500px;
    background-size: cover;
    color: white;
}

.home-content {
    padding-top: 150px;
    padding-left: 30px;
}

.home-btn {
    background-color: #8B5CF6;
    color: white;
    border-width: 0px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}

/*services*/
.services {
    text-align: center;
}

.services-head {
    padding-top: 30px;
}

.services-para {
    padding-top: 15px;
    padding-bottom: 50px;
    font-size: 20px;
}

.card-container {}

.card {
    padding: 40px;
}

.card-img {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
}
.bi{
    color: #dfe3ef;
}
.card-head {
    font-size: 20px;
    text-align: start;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-para {
    text-align: start;
    padding-left: 20px;
    padding-bottom: 20px;
}

.contact-us {
    background-color: #dfe3eb;
    height: 500px;
}

.contact-head {
    text-align: center;
    padding-top: 30px;
}

.contact-para {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.inputs {
    padding-left: 50px;
}

.p {
    padding-top: 10px;
}

.s {
    color: red;
}

.in {
    width: 90%;
    border-radius: 7px;
    border-width: 1px;
    height: 30px;
}

.ins {
    height: 70px;
    width: 90%;
    border-radius: 7px;
    border-width: 1px;
}

.contact-btn {
    width: 82%;
    text-align: center;
    height: 40px;
    background-color: #8B5CF6;
    border-width: 0px;
    border-radius: 6px;
    color: white;
}

.b {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer{
    background-color: #0A1525;
}
.fl{
    height:50px;
}
.a{
   padding:10px; 
}
.b1{
    color: white;
    padding-left:30px;
}
.b2{
    color: white;
    padding-left:30px;
}
.detalis{
    display: flex;
}
@media all and (max-width:767px) {
    .links {
        display: none;
    }
}

@media all and (min-width:768px) {
    .nav {
        justify-content: space-evenly;
        /*width:120%;*/
    }

    .bg-container {
        /*width:121%;*/
    }

    .card-img {
        height: 200px;
        width: 300px;
    }

    .link {
        padding-right: 30px;
    }

    .links {
        padding-top: 13px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
    }
    .footer{
        display: flex;
    }
}