@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.card {
    background-image: url("https://img.b2bpic.net/premium-photo/dollar-icon-plant-business-concept-3d-rendering_35719-17146.jpg");
    background-size: cover;
    height: 60vh;
}

.heading {
    color: #FFFFFF;
    font-family: Bree Serif;
    font-weight: bold;
    margin: 30px;
}

.paragraph {
    color: #FFFFFF;
    font-family: Bree Serif;
    text-align: left;
    margin: 20px;
}

.button {
    background-color: #F6B352;
    color: #FFFFFF;
    font-family: Bree Serif;
    border-radius: 5px;
    margin: 20px;
    padding: 0px;
    border-color: #F6B352;
}
.card2 {
    text-align: center;
    font-family: Bree Serif;
}
.card3 {
    text-align: center;
}
.card4 {
    background-color: #Dfe3eb;
    text-align: center;
    font-family: Bree Serif;
}
.heading1 {
    font-family: Bree Serif;
    font-weight: bold;
}
.paragraph1 {
    font-family: Bree Serif;
}
.heading2 {
    font-size: 15px;
}
.button1 {
    background-color: #FFFFFF;
    border-color: #Dfe3eb;
    width: 30vh;
    height: 20px;
    border-radius:5px;
}
.button2 {
    background-color: #FFFFFF;
    border-color: #Dfe3eb;
    width: 20vh;
    height: 20px;
    border-radius:5px;
}
.button3 {
    background-color: #FFFFFF;
    border-color: #Dfe3eb;
    width: 30vh;
    height: 25vh;
    border-radius:5px;
}
.button4 {
    background-color: #F6B352;
    color: #FFFFFF;
    font-family: Bree Serif;
    border-radius: 5px;
    margin: 20px;
    padding: 0px;
    border-color: #F6B352;
    width: 20vh;
}
.image {
    height: 100px;
    border-radius: 10px;
}
.card6 {
    background-color: #0A1525;
    color: #FFFFFF;
    text-align: center;
}