@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.nav-bar{
    background-color: #0a1525;
    color: #1e293b;
    display: flex;
    width: 100vw;
    height: 20vh;
}
.temp{
    color: white;
    margin-right:10px ;
    width: 90vw;
    height: 50px;
}
.img1{
    background-image: url('https://img.b2bpic.net/premium-photo/dollar-icon-plant-business-concept-3d-rendering_35719-17146.jpg');
    width: 100vw;
    height: 50vh;
}
.button{
    background-color:#f6b35 ;
}
.bg-container{
    background-color: #dfe3eb;
}
.last-page{
    background-color:#0a1525;  
}
.color5{
    color: white;
}
.logo{
    color: white;
}