@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.back{
    background-image:url("https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg");
   height:100vh;
   width: 100vw;
   background-size: cover;
  }
  .headding1{
      
  }