.apple {
    background-color: #1E293B;
    height: 56px;
    display: flex;
}

.cat {
    height: 10px;
    width: 20px;
}

.dog {
    background-image: url(https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg);
    height: 100vh;
    text-align: center;
    padding: 40px;

}

.heading1 {
    color: white;
    font-family: roboto;
}

.button {
    color: white;
    border-width: 0px;
    background-color: blue;
    border-radius: 5px;
}

.other {
    text-align: center;
}