@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.header {
    display: flex;
    justify-content: space-around;
    background-color: #deb887;
    color: white;
}

.header_Sec {
    display: flex;
    font-weight: bold;
    margin: 15px;
}
@media (max-width:576px){
    .van{
        text-align: center;
    }
    .header_Sec{
        display:none;
    }
}

.first_para {
    margin: 15px;
    text-decoration:underline;
}

.second_para {
    margin: 15px;
}

.bg1 {
    display: grid;
    gap: 0;
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    background-size: cover;
    height: 100vh;
}

.hori_line1 {
    width: 400px;
    height: 10px;
    background-color: blue;
    position: relative;
}

.main_head {
    color: white;
    font-size: 70px;
}

.main_para {
    color: white;
    position: relative;
    top: 40px;
    font-size: 40px;
}

.top_div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hori_line2 {
    width: 200px;
    height: 10px;
    background-color: blue;
}

.services_head {
    font-size: 80px;
    font-weight: normal;
    text-align: center;
}

.small_p {
    max-width: 550px;
    font-size: 20px;
   
    display:grid;
    justify-self: center;
}

.small_p3 {
    max-width: 550px;
    font-size: 20px;
    margin-left: 25%;
}

.small_h {
    text-align: center;
}


.img1 {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
}
.img2 {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
}
.img3 {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
}

/* .img3 {
    text-align: center;
    border-radius: 100%;
    height: 100%;
    width: 30%;
    position: relative;
    left: 30%;
} */

.combine2 {
    display: flex;
}

.foot {
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: white;
    height: 20vh;
}

.p1 {
    margin: 20px;
}

.pp {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 30%;
    font-size: 20px;
}

@media (min-width:576px) and (max-width:992px) {
    .combine2 {
        display: flex;
        flex-direction: column;
    }

    .pp {
        position: relative;
        right: 30%;
    }

    .hh {
        position: relative;
        left: 30%;
    }

    .foot {
        display: flex;
        padding-top: 60px;

        justify-content: flex-start;
    }

    .ppp {
        margin-top: 80px;
    }
}
.foo{
    display: grid;
    justify-content: center;
  
    background-color: black;
    color: white;
    height: 20vh;
}
.pen{
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
}
@media (max-width:765px){
    .bomb{
        display:block;
        font-size: 30px;
        
    }
}
@media (min-width:765px){
    .bomb{
        display:none;
    }
}

@media (min-width:992px){
    .foo{
        display: flex;
        justify-content: space-around;
    }
    
}
.mn{
    padding-right:20px;
}