@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.bg-container {
    height: 110vh;
}

.nav-bar_sec {
    background-color: #0A1525;
    height: 90px;
    width: 1190px;
}

.log_sec {
    display: flex;
    color: white;
    margin-left: 40px;
    font-size: 10px;


}

.log_sec_head {
    margin-top: 30px;
}
.end_sec1{
    display: flex;
    background-color:#0A1525 ;
    width:1090px;
}

.logo_sec_img {
    height: 50px;
    margin-top: 20px;
    margin: 10px;
}

.logo_sec-2 {
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    font-size: 13px;

}

.logo_sec-1 {
    margin-left: 20px;
    margin-bottom: 120px;

}

.fa-bars {
    margin-top: 13px;
    margin-left: 20px;
}

.frst-img {
    background-image: url('https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg');
    height: 300px;
    background-size: cover;
    width: 1190px;
    font-size: 15px;
    text-align: center;
    color: white;


}

.frst-img-para {
    margin-left: 50px;
    margin-top: 130px;
    font-size: 18px;
}

.frst-img-btn {
    background-color: #8B5cF6;
    height: 50px;
    margin-right: 640px;
    border-style: none;
    color: white;
    border-radius: 6px;


}

.serives_sec_img_sec {
    display: flex;
    height: 100px;
}

.serives_sec_desc {

    text-align: center;
}

.m1 {
    height: 120px;
    border-radius:5px;
}

.contact_page1 {
    background-color: #dfe3eb;
    text-align: center;
    width: 1190px;
}

.name {
    margin-right: 320px;
}

.n1 {
    height: 50px;
    width: 300px;
    background-color: white;
    margin-left: 320px;
    border-radius: 8px;
    border-style: solid;
    border-color: #dfe3eb;

}

.n4 {
    height: 100px;
    width: 300px;
}

.btn23 {
    height: 30px;
    width: 390px;
    background-color: #8B5cF6;
    color: white;
    margin-bottom: 80px;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    border-color: #8B5cF6;

}

.btn2 {
    margin-top: 20px;

}

.serives_sec_img_sec1 {
    margin-left: 50px;
}
.n8{
    color:white;
    margin-left:130px;
    font-size:10px;
   
}
.n6{
  margin-top:40px;
   margin-left:130px;
   
}
.end_sec1{
     color:white;
     font-size:6px;
     
}
.img5{
    height:30px;
    margin-top: 40px;
    margin-left:130px;
}
.h29{
      margin-left:130px;
}
.i1{
    height:130px;
}
@media screen and (max-width:765px) {
    .nav-bar_sec{
        height:90px;
        width:400px;
    }
}