@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.header {
    display: grid;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Roboto";

}

.section {
    display: grid;
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    align-items: center;
}

nav ul li a {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.sec2 {
    display: grid;
    background-color: #d4ffcc;
    gap:15px;
    grid-template-columns: 1fr 1fr;
    
}

div {
    background-color: #FFFFFF;
    text-align: center;
    border-color: #39ff14;
    border-radius: 5px;
    padding: 5px;
}

.img{
    height: 150px;
    border-radius:50px;
}

@media (max-width:768px){
  .grid-container{
      grid-template-columns: 1fr;
  }  
}