@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1b262c;
    color: #FFFFFF;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 60px;
}

.hero-text {

    padding: 20px;

    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    background-color: #f2ccff;
}

.service-item {
    text-align: center;
}

.service-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.service-item h3 {
    margin: 15px 0 5px;
    font-size: 1.5rem;
}

.service-item p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
    }
}

.heading {
    text-align: center;
}


.footer {
    background-color: white;
    color: black;
    padding: 20px 40px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left h2 {
    margin-bottom: 5px;
}

.footer-left p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-right a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.footer-right a:hover {
    text-decoration: underline;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        margin-top: 10px;
    }
}

.black {
    background-color: black;
    height: 100px;
}