@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.bg {
    display: flex;
    flex-direction: row;
    background-color: #0A1525;
    justify-content: space-around;

}

.image {
    width: 50%;

}

.text {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 19px;
}

.paras {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin: 5px 5px;
}

p {
    margin: 5px 5px;
}

@media screen and (max-width:767px) {
    .paras {
        display: none;

    }

    .image {
        margin-left: -30px;
    }
}

.image1 {
    width: 100%;
}

.sec1 {
    display: flex;
    color: #ffffff;
    font-family: "Bree serif";
    background-image: url("https://img.b2bpic.net/premium-photo/cropped-hand-man-using-mobile-phone_1048944-307909.jpg");
    width: 100%;
    height: 70vh;
    flex-direction: column;
    padding: 20px;
    background-size: cover;
    align-content: center;
    justify-content: center;


}

.button {
    background-color: #6C63FF;
    padding: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    border-width: 0px;
}

.head1 {
    font-size: 60px;
}

.para1 {
    color: #dfe3eb;
}

@media screen and (max-width:767px) {
    .sec1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .head1 {
        font-size: 60px;
    }

    .para1 {
        font-size: 40px;
        padding: 20px;
        margin: 10px;
    }
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.head2 {
    font-family: "Bree Serif";
    font-size: 70px;
}

.para2 {
    font-family: "Bree Serif";
    color: #1E293B;
    /* font-size: 50px; */
    margin-left: 20px;
    margin-right: 20px;
}


.image3 {
    width: 70%;
    border-radius: 20px;
    margin: 10px;
}

.card {
    background-color: white;
    width: 30%;
    margin: 10px;
    border-radius: 30px;
    text-align: center;


}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:767px) {
    .cards {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: white;
        width: 70%;
        margin: 10px;
        border-radius: 30px;
        text-align: center;
    }
}



.bg2 {
    background-color: #dfe3eb;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-content: space-around;

}

.contactus {
    text-align: center;
    font-family: "Bree Serif";
    padding: 20px;

}

.box {
    height: 40px;
    border-radius: 6px;
    border-color: #1E293B;
    border-style: solid;
    width: 90%;
    background-color: #FFFFFF;
    border-width: 2px;

}

.name {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Bree Serif";
}

.name2 {
    display: flex;
    flex-direction: row;
    font-family: "Bree Serif";
}

.box1 {
    height: 40px;
    border-radius: 6px;
    border-color: #1E293B;
    border-style: solid;
    width: 90%;
    background-color: #FFFFFF;

}

.box2 {
    height: 40px;
    border-radius: 6px;
    border-color: #1E293B;
    border-style: solid;
    width: 90%;
    background-color: #FFFFFF;

}

.boxbig {
    height: 100px;
    border-radius: 6px;
    border-color: #1E293B;
    border-style: solid;
    width: 80%;
    background-color: #FFFFFF;
    border-width: 2px;
}

@media screen and (max-width:767px) {
    .name2 {
        display: flex;
        flex-direction: column;
    }
}

.star {
    color: red;
}

.p2 {
    padding: 10px;
    font-size: 25px;
}

.footer {
    background-color: #0A1525;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagesmall {
    width: 60%;
}

.p {
    color: #FFFFFF;
    font-size: 30px;
    margin: 16px;
}

.pp {
    font-weight: bold;
    font-family: "Bree Serif";
    margin-bottom: 36px;
}

.col {
    color: #ffffff;
    font-size: 30px;
    margin: 16px;
}

@media screen and (max-width:767px) {
    .footer {
        background-color: #0A1525;
        width: 100%;
        display: flex;
        flex-direction: column;
        /*     justify-content: space-between;
 */
    }

    .imagesmall {
        width: 40%;
    }

    .display-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .num2 {
        display: none;
    }

}

@media screen and (min-width:575px) {
    .display-row {
        display: none;
    }
}