@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

.navbar {
    background-color: #808080;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.navheading {
    color: white;
    font-family: "Roboto";
    font-size: 40px;
}

.navitem1 {
    color: #ffffff;
    font-family: "Roboto";
    margin-left: auto;
}

.navitem2 {
    color: #ffffff;
    font-family: "Roboto";
    margin-left: 20px;

}

.homepage {
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
    background-size: cover;
    height: 75vh;
    text-align: center;
    padding-top: 20%;
}

.mainheading {
    color: white;
    font-size: 70px;
    font-family: "Caladea";
}

.line {
    background-color: red;
    height: 10px;
    width: 20%;
    text-align: center;
    border: none;
}
.line2 {
    background-color: red;
    height: 5px;
    width: 20%;
    text-align: center;
    border: none;
}


.subheading {
    color: white;
    font-family: "Caladea";
    font-size: 30px;
}

.services {
    height: 60vh;
    background-color: #f7c1c1;
}

#h {
    color: black;
    font-family: "Roboto";
}

.k {
    text-align: center;
}
.img{
    height: 270px;
    width: 280px;
    border-radius: 20px;
}
.card{
    margin: auto;
}
.moving{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.last{
    display: flex;
    flex-direction: row;
    padding: 60px;
}
.home{
    margin-left: auto;
    
}
.service{
    margin-left: 10px;
}