@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bg {
    background-color: #f9f9f9;
    height: 60px;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bg-img {
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p1 {
    font-weight: bold;
    font-family: "Roboto";
}

.h11 {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
}

.p11 {
    color: white;
    font-size: 20px;
}

.b1 {
    height: 10px;
    width: 100px;
    background-color: #1976d2;
}

.bg-2 {
    background-color: #d1e5f9;
    text-align: center;
    min-width: 100vh;
}

img {
    height: 85px;
    width: 90px;
    border-radius: 50px;
}

.b2 {
    height: 5px;
    width: 100px;
    background-color: #1976d2;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.im-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-3 {
    background-color: #1b262c;
    min-height: 50vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p12 {
    color: white;
    margin-bottom: 0px;
}

.h12 {
    color: white;
    margin-bottom: 0px;
}