@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.bg-container {
    background-image: url("https://img.b2bpic.net/premium-photo/future-innovation-concept_700248-23746.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;

}

.heading {
    color: white;
    font-family: bree serif;

}

.paragraph {
    color: #dfe3eb;
    font-family: bree serif;
    font-weight: bold;

}

.button {
    background-color: #00E5BE;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-family: bree;
    padding: 7px;
    border-width:0px;
}
.heading2{
    color:#000000;
    font-family: bree serif;
    text-align:center;
    
}
.para2{
    color:grey;
    font-family: bree serif;
    text-align:center;
}
.image{
    width:300px;
    border-radius:8px;
}
.box1{
    width:100%;
}
.box4{
    width:100%;
}

.card3{
    background-color: #0A1220;
    background-size:cover;
    padding:30px;
    margin-top:20px;
    width:100vw;
}
.image2{
    width:50px;
}
.para3{
    color:#dfe3eb;
}
.button2{
    width:100%;
}
.header{
    padding:30px;
    padding-top:300px;
}
.image3{
    width:20px;
}
.hero{
    background-color:#1E293B;
}