@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.nav-img {
    display: flex;
}

.img {
    height: 50px;
    padding: 20px;
}

.nav-item {
    padding-top: 20px;
}

.nav-items {
    display: flex;
    padding: 20px;
}

.icon-nav {
    padding: 20px;
}

@media (min-width:992px) {
    nav {
        background-color: #0A1220;
        width: 200vw;
        color: #FFFFFF;
        display: flex;
        justify-content: space-around;
    }

    .h {
        padding: 8px;
    }

    .container-img {
        background-image: url("https://img.b2bpic.net/premium-photo/future-innovation-concept_700248-23746.jpg");
        height: 100vh;
        width: 200vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .con-head {
        color: #FFFFFF;
        font-family: Bree Serif;
        font-size: 50px;
    }

    .con-para {
        color: #FFFFFF;
        font-size: 20px;
        align-items: center;
    }

    .con-but {
        background-color: #00E5BE;
        padding: 10px;
        border: white;
        border-radius: 5px;
    }

    .our {
        width: 200vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-head {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }

    .our-services {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .our-img1 {
        height: 40vh;
        width: 60vw;
        padding: 10px;
        border-radius: 30px;
    }

    .our-img2 {
        height: 40vh;
        width: 60vw;
        padding: 10px;
        border-radius: 30px;
    }

    .our-img3 {
        height: 40vh;
        width: 60vw;
        padding: 10px;
        border-radius: 30px;
    }

    .head1 {
        text-align: center;
    }

    .para1 {
        text-align: center;
    }

    .contant {
        background-color: #dfe3eb;
        height: 100%;
        width: 200vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conth {
        font-weight: bold;
        padding: 10px;
    }

    .contp {
        padding: 5px;
    }

    .cont-but {
        background-color: #00E5BE;
        padding: 10px;
        width: 300px;
        border: white;
        border-radius: 5px;
        margin: 10px;
    }

    .name {
        height: 20px;
        width: 500px;
    }

    .email {
        height: 20px;
        width: 500px;
    }

    .number {
        height: 20px;
        width: 500px;
    }

    .message {
        height: 200px;
        width: 500px;
        margin: 30px;
    }

    .footer {
        background-color: #0A1220;
        height: 100%;
        width: 200vw;

    }

    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-img {
        padding-top: 120px;
        padding-left: 20px;
    }

    .footer-para {
        color: #FFFFFF;
        padding: 20px;
        font-size: 20px;
    }

    .icon {
        color: #FFFFFF;
        padding: 10px;
    }

    .footer-contant {
        padding-top: 120px;
        color: #FFFFFF;
        padding-left: 30px;
    }

    .footer-menu {
        padding-top: 120px;
        color: #FFFFFF;
        padding-left: 30px;
    }

    .p {
        color: #FFFFFF;
        padding: 30px;
        text-align: center;
    }
}

@media (max-width:991px) {
    nav {
        background-color: #0A1220;
        width: 100vw;
        color: #FFFFFF;
        display: flex;
        justify-content: space-around;
    }

    .h {
        padding: 3px;
    }

    .container-img {
        background-image: url("https://img.b2bpic.net/premium-photo/future-innovation-concept_700248-23746.jpg");
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
    }

    .con-head {
        color: #FFFFFF;
        font-family: Bree Serif;
        font-size: 30px;
    }

    .con-para {
        color: #FFFFFF;
        font-size: 20px;
        align-items: center;
    }

    .con-but {
        background-color: #00E5BE;
        padding: 10px;
        border: white;
        border-radius: 5px;
    }

    .our {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-head {
        font-weight: bold;
        font-size: 30px;
    }

    .our-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .our-img1 {
        height: 40vh;
        width: 90vw;
        padding: 10px;
        border-radius: 30px;
    }

    .our-img2 {
        height: 40vh;
        width: 90vw;
        padding: 10px;
        border-radius: 30px;
    }

    .our-img3 {
        height: 40vh;
        width: 90vw;
        padding: 10px;
        border-radius: 30px;
    }

    .head1 {
        text-align: center;
    }

    .para1 {
        text-align: center;
    }

    .contant {
        background-color: #dfe3eb;
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conth {
        font-weight: bold;
        padding: 10px;
    }

    .contp {
        padding: 5px;
    }

    .cont-but {
        background-color: #00E5BE;
        padding: 10px;
        width: 300px;
        border: white;
        border-radius: 5px;
        margin: 10px;
    }

    .name {
        height: 20px;
        width: 500px;
    }

    .email {
        height: 20px;
        width: 500px;
    }

    .number {
        height: 20px;
        width: 500px;
    }

    .message {
        height: 200px;
        width: 500px;
        margin: 30px;
    }

    .footer {
        background-color: #0A1220;
        height: 100%;
        width: 100vw;
    }

    .footer-img {
        padding-top: 120px;
        padding-left: 20px;
    }

    .footer-para {
        color: #FFFFFF;
        padding: 20px;
        font-size: 20px;
    }

    .icon {
        color: #FFFFFF;
        padding: 10px;
    }
    
    .footer-contant {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 30px;
    }

    .footer-menu {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 30px;
    }

    .p {
        color: #FFFFFF;
        padding: 30px;
    }
}