@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.brand_icon {
    background-color: #0A1525;
    display: flex;
    flex-direction: row;
}

.img {
    height: 50px;
    padding: 10px;
}

.head {
    color: white;
    font-family: "Bree Serif";
    font-size: 25px;

}

.background_img {
    background-image: url("https://img.b2bpic.net/premium-photo/social-distance-concept-with-3d-rendering-human-keep-space-each-other_493806-7770.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    color: white;
    font-family: "Bree Serif";
    font-size: 20px;


}

.button {
    background-color: #FFD700;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
}

.headpg-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.parapg-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pg-2 {
    padding: 30px;

}

.pg-2-img {
    border-radius: 10px;
}

.items {
    font-family: "Bree Serif";
}

.pg-3 {
    display: flex;
    flex-direction: column;
    text-align: center;


}

.inputname {
    display: flex;
    text-align: left;

}

.pg-4 {
    background-color: #1E293B;
    padding: 10px;
}

.pg-4img {
    height: 80px;
}

.pg-4para {
    color: white;
}
.bi{
    color:white;
    
}
.row{
    display: flex;
    flex-direction: row;
    color: white;
    
}
.column{
    display: flex;
    flex-direction: column;
    padding-left:30px ;
    
}
.spanele{
    text-decoration: underline;
}
.pg-4para2{
    color: white;
}