@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.main {
    background-image: url("https://img.b2bpic.net/premium-photo/laptop-with-business-sketch_700248-24882.jpg");
    color: white;
}
.img-1 {
    height: 50vh;
    width: 100vh;
}
.img-2 {
    height: 50vh;
    width: 100vh;
}

.img-3 {
    height: 50vh;
    width: 100vh;
}