@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.buts{
    color: #FFFFFF;
    background-color: #8B5CF6;
    text-align: center;
}
.heading{
    color: #FFFFFF;
}
.www{
    background-image: url('https://img.b2bpic.net/premium-photo/workflow-teamwork-concepts-with-colorful-gears-different-gadgets_870072-3686.jpg')
    
    
}
.para{
    color:  #dfe3eb;
}
.back{
    background-color: #0A1525;
    <background-image: url('https://cdn-icons-png.freepik.com/128/18892/18892133.png');
}
.last{
    color: #FFFFFF;
    font-family: Bree Serif;
}
.llll{
    color: #ffffff;
}
.pppp{
    color: #ffffff;
    
}
.butt2{
    background-color: #8B5CF6;
    color: #ffffff;
    
    width: 100px;
    height: 20px;
    
}
.fistfff{
    background-color:  #0A1525;
}
.red{
    color: red;
}