@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.nav{
    background-color: grey;
    background-size: cover;
    height: 10vh;
    
}
.cycle{
    color: #FFFFFF;
    text-align: center;
    
}
.race{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    height: 300px;
}
.ad{
    color: #FFFFFF;
    text-align: center;
}
.fell{
     color: #FFFFFF;
     text-align: center;
}
.the{
   color: #39ff14; 
   background-color: #39ff14;
   height: 10px;
   width: 80px;
   display: flex;
   align-content: center;
   flex-direction: column;
   
}
.adven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services{
    background-color: #d4ffcc;
    height: 150vh;
    background-size: cover;
    padding:20px;
}
.image{
    border-radius:100px;
}
.car{
    
    text-align: center;
}
.para{
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.races{
    display: flex;
    justify-content: center;
}