@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.container-1 {
    background-color: #0A1525;
}

.nxt {
    color: #FFFFFF;
}

.logo {
    height: 35px;
    padding-left: 110px;
}

.container-2 {
    a;
    background-image: url("https://img.b2bpic.net/premium-photo/social-distance-concept-with-3d-rendering-human-keep-space-each-other_493806-7770.jpg");
}