@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.navbar {
    background-color: #0A1525;
    color: white;
    padding: 15px;
    width: 100vw;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 60px;
    font-family: Bree Serif;
}

.main_content {
    background-image: url('https://img.b2bpic.net/premium-photo/cd-transfer-graphic-background-3d-rendering_924688-379.jpg');
    background-size: cover;
    padding: 150px;
    color: white;
    font-family: Bree Serif;
}

.main_content_button {
    background-color: #dfe3eb;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 0px;
}

.content_cards {
    width: 200px;
    padding: 30px;
    font-family: Bree Serif;
}

.align_cards_row {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.name_entry {
    border: 1px solid grey;
    border-radius: 5px;
    width: 600px;
    height: 30px;
}

.email_entry {
    border: 1px solid grey;
    border-radius: 5px;
    width: 290px;
    height: 30px;
}

.phone_entry {
    border: 1px solid grey;
    border-radius: 5px;
    width: 290px;
    height: 30px;
}

.message_entry {
    border: 1px solid grey;
    border-radius: 5px;
    width: 600px;
    height: 100px;
}

.footer_logo {
    margin: 5px;
    color: white;
    font-size: 30px
}
.lightgrey{
    color: lightgrey;
    
}