@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    background-color: #f9f9f9;
}
.mainheading{
    color: #000000;
    font-family: Roboto;
}
.firstcard{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
     
    background-size: cover;
    height: 300px;
    width: 450px;
}
.secheading{
    color: #FFFFFF;
    font-family: Roboto;
    text-align: center;
}
.firstpara{
    color: #FFFFFF;
    font-family: Roboto;
    text-align: center;
}
.secondcard{
    background-color: #d1e5f9;
}
.servicesheading{
    font-family: Roboto;
    color: #000000;
    text-align: center;
    background-size: cover;
}
.firstimgdiv{
    justify-content: space-between;
    height: 50px;
    width: 50px;
}
.fistimage{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}